.footer {
  background-color: black;
  padding-left: 200px;
}

.footer_copyright {
  font-family: "Inter Regular";
  font-size: 18px;
  color: #545454;
  margin: 0;
  padding: 67px 0 60px 0;
}

@media screen and (max-width: 720px) {
  .footer {
    padding: 19px;
  }
}
