.header {
  background-color: #000;
  display: flex;
  align-items: center;
  width: 880px;
}

.header__logo {
  margin: 42px auto 40px;
}

@media screen and (max-width: 720px) {
  .header {
    width: 301px;
  }
}
