.pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  max-width: 880px;
}

.pictures__card {
  max-width: 282px;
}

.pictures__card_image {
  max-width: 282px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.pictures__card_info {
  display: flex;
  background-color: white;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  padding: 25px 15px 31px 21px;
  align-items: center;
}

.pictures__card_name {
  font-family: "Inter Black";
  font-size: 24px;
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pictures__card-like {
  max-width: 21px;
  max-height: 19px;
  background-color: transparent;
  border: 1px solid;
}

@media screen and (max-width: 1024px) {
  .pictures {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 17px;
    max-width: 585px;
  }
}

@media screen and (max-width: 720px) {
  .pictures {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }
}
