.profile {
  display: flex;
  margin: 0 0 50px 0;
  align-items: center;
  max-width: 880px;
}

.profile__image {
  margin: 0 30px 0 0;
}

.profile__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__content-name {
  display: flex;
  gap: 18px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  margin: 0 18px 0 0;
  max-width: 415px;
  width: 100%;
}

.profile__info-name {
  margin: 0 0 16px;
  font-family: "Inter Medium";
  font-size: 42px;
  line-height: 48px;
}

.profile__info-attribute {
  margin: 0;
  font-family: "Inter Regular";
  font-size: 18px;
  line-height: 22px;
}

.profile__info_edit_button {
  margin: 15px 165px 0 0;
  max-width: 24px;
  max-height: 24px;
  padding: 0;
  background-color: transparent;
  border: 1px solid white;
}

.profile__info_button-add {
  max-width: 150px;
  width: 100%;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
}

@media screen and (max-width: 720px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    margin: 0 0 36px 0;
  }

  .profile__image {
    margin: 0 0 30px 0;
  }

  .profile__content {
    gap: 10px;
    justify-content: center;
  }

  .profile__content-name {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .profile__info {
    margin: 0;
  }

  .profile__info-name {
    font-size: 22px;
    margin: 0;
  }

  .profile__info-attribute {
    font-size: 14px;
    margin: 0 auto 36px;
  }

  .profile__info_button-add {
    max-width: 282px;
  }

  .profile__info_edit_button {
    margin: 0;
  }
}
